  <style>
    share-button {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    pre {
      display: block;
      margin: auto;
      position: absolute;
      top: 57%;
      left: 0;
      bottom: 0;
      right: 0;
      color: #839496;
      text-align: center;
      font-family: 'Source Code Pro';
      font-size: 13px;
      text-shadow: 1px 1px 1px #333;
    }

    pre span.class {
      color: #b58900;
    }

    pre span.string {
      color: #2aa198;
    }

    pre span.new {
      color: #859900;
    }
  </style>


  <share-button></share-button>

  <pre><span class="new">new </span><span class="class">share-button</span>();</pre>
  <script src='public/js/share-button.js'></script>
  <script>
    var shareButton = new ShareButton();
  </script>