---
layout: default
---

{% include post_header.html %}

<article class="post-content">
  {{ content }}
</article>
<span class='st_sharethis_large' displayText='ShareThis'></span>
<span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_linkedin_large' displayText='LinkedIn'></span>
<span class='st_pinterest_large' displayText='Pinterest'></span>
<span class='st_email_large' displayText='Email'></span>


{% if site.disqus_shortname %}
   {% include social.html %}
   {% include disqus.html %}
{% endif %}

{% if site.show_related_posts %}
  {% include related_posts.html %}
{% endif %}
